@media (max-width: 576px) {
	.item, .card-text {
	font-size: .8rem !important;
	}
	h4 {
		font-size: 1rem !important;
	}
}

/*@media (min-width:600px) {*/
/*	.item {*/
/*		font-size: 14px;*/
/*	}*/
/*}*/

.side-nav a {
  color: black;
  display: block;
  height: 2rem;
  font-size: 0.8rem;
  line-height: 2.1rem;
  vertical-align: middle;
}

.container {
	padding: 0;
}
/*background-color: rgba(0, 0, 0, 0.15);*/
/*.side-nav ul.social li a {*/
/*  background-color: transparent;*/
/*}*/

.md-form {
  margin-bottom: 0.7rem;
}

/*.side-nav MDBListGroup {*/
/*  background-color: rgba(0, 0, 0, 0.15);*/
/*  padding: 15px;*/
/*}*/

/*.side-nav MDBListGroup {*/
/*  color: white;*/
/*  display: block;*/
/*  height: 1rem;*/
/*  font-size: 0.8rem;*/
/*  line-height: 1rem;*/
/*}*/
