body {
  background-color: darkgray;
}

/*.side-nav a {*/
/*  display: block;*/
/*  height: 20px;*/
/*  padding-left: 20px;*/
/*  font-size: 0.5rem;*/
/*  line-height: 20px;*/
/*}*/

/*//import "~node_modules/rfs/scss";*/
/*//import "/Users/jesusgonzalez/Documents/jpackInternational/node_modules/rfs/scss.scss";*/

/*//@media (min-width: 576px) {*/
/*//  Item,*/
/*//  th {*/
/*//	font-size: 0.9rem;*/
/*//  }*/
/*//}*/
/*//*/
/*//.card-text {*/
/*//  line-height: 1.1rem;*/
/*//}*/
/*//*/
/*//@media (max-width: 768px) {*/
/*//  .btn {*/
/*//	font-size: 11px;*/
/*//	padding: 4px 6px;*/
/*//  }*/
/*//  th,*/
/*//  td {*/
/*//	padding: 0;*/
/*//  }*/
/*//}*/
